.hero {
  display: flex;
  justify-content: space-between;
  padding: 60px 5%;
}
/* left side */
.left {
  width: 70%;
}
.left h5 {
  width: 250px;
  background-color: coral;
  text-indent: 5px;
  color: white;
}
.left h1 {
  width: 380px;
  color: black;
}
.left h1 span {
  color: coral;
  display: inline-block;
  color: coral;
  overflow: hidden;
  white-space: nowrap;
  animation: hideShowText 2s linear infinite alternate-reverse;
  -webkit-animation: hideShowText 2s linear infinite alternate-reverse;
}
.left p {
  word-spacing: 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 90%;
  overflow-wrap: break-word;
  word-break: break-word;
}
.buttons {
  display: flex;
  gap: 20px;
}
.left button {
  border: none;
  outline: none;
  width: 150px;
  height: 45px;
  background-color: coral;
  opacity: 1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-family: cursive;
  color: white;
  transition: .3s;
}
.left button:hover {
  transform: scale(1.05) !important;
  -webkit-transform: scale(1.1) !important;
  -moz-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  -o-transform: scale(1.1) !important;
}
/* right side */
.right {
  width: 45%;
  text-align: right;
}
.right img {
  width: 400px;
  height: 350px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.right img:hover {
  cursor: pointer;
  transform: scale(.99) !important;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@keyframes hideShowText {
  0% {
    width: 450px;
  }
  25% {
    width: 350px;
  }
  50% {
    width: 250px;
  }
  75% {
    width: 150px;
  }
  100% {
    width: 2px;
  }
}

@media (max-width: 500px) {
  .hero {
    width: 100%;
    flex-direction: column;
  }
  .left{
    width: 100%;
  }
  .left h1 span {
    display: block;
  }
  .left p {
    width: 100%;
     overflow-wrap: break-word;
     word-break: break-word;
  }
  .buttons {
    width: 100%;
    gap: 30px;
  }
  .buttons button{
    width: 100%;
  }
  .left .cv {
    padding: 0px 30px;
  }
  .left .explore {
    padding: 10px 45px;
  }
  .right {
    margin-top: 20px;
    width: 100%;
  }
  .right img{
    width: 100%;
  }
  .right img:hover{
   transform: scale(.99);
  }
}